In [1]:
import pandas as pd

In [2]:
import numpy as np

In [6]:
label = ['cat', 'dog', 'dog', 'bird', 'cat']
animal = ['meow meow', 'bark bark', 'human best friend', 'pair of wings', '9 lives']
link = pd.Series(data=animal, index=label);
link

cat             meow meow
dog             bark bark
dog     human best friend
bird        pair of wings
cat               9 lives
dtype: object

In [9]:
# pass in two python list, one is the data list, another is the index
link1 = pd.Series(animal, label)
link1

cat             meow meow
dog             bark bark
dog     human best friend
bird        pair of wings
cat               9 lives
dtype: object

In [10]:
# pass in the numpy array
npArr = np.array(animal)
pd.Series(npArr)

0            meow meow
1            bark bark
2    human best friend
3        pair of wings
4              9 lives
dtype: object

In [11]:
pd.Series(npArr, label)

cat             meow meow
dog             bark bark
dog     human best friend
bird        pair of wings
cat               9 lives
dtype: object

In [13]:
# pass in the dictionary too (# but dictionary won't allow duplicated key)
dic = { "cat":"meow", "dog":"bark", "dog":"loyal", "bird":"wings", "cat":"immortal"}
pd.Series(dic)

cat     immortal
dog        loyal
bird       wings
dtype: object

In [14]:
# retreive data from a series with label

In [15]:
series1 = pd.Series(['John', 'Mary', 'Kate'], [1,2,3])
print(series1[3])

Kate

In [16]:
series1 = pd.Series([1,2,3], ['John', 'Mary', 'Kate'])
print(series1['Mary'])

2

In [17]:
seriesA = pd.Series(['Apple', 'Banana', 'Pear'], [10,12,10] )
seriesB = pd.Series(['Apple', 'Banana', 'Pear', 'Grape'], [5,0,8,38])
seriesC = seriesA + seriesB
seriesC # 2 series with different label for the same data just doesn't make sense

0     NaN
5     NaN
8     NaN
10    NaN
10    NaN
12    NaN
38    NaN
dtype: object

In [20]:
seriesA = pd.Series(['Apple', 'Banana', 'Pear'], [10,12,10] )
seriesB = pd.Series(['Apple', 'Banana', 'Pear', 'Grape'], [10,12,10,38])
seriesC = seriesA + seriesB
seriesC # merge the data with the same label, while the data only exist in one series will be "NaN"

10      AppleApple
10       ApplePear
10       PearApple
10        PearPear
12    BananaBanana
38             NaN
dtype: object

In [21]:
seriesA = pd.Series([2,32,0], ['Apple', 'Banana', 'Pear'])
seriesB = pd.Series([16,18,10,38], ['Apple', 'Banana', 'Pear', 'Grape'])
seriesC = seriesA + seriesB 
seriesC # merge the data (sum the qty) with the same label (i.e. 'Apple", "Banna" ...etc.) , while the data only exist in one series will be "NaN"

Apple     18.0
Banana    50.0
Grape      NaN
Pear      10.0
dtype: float64