In [2]:
# using dictionary with {} 
# the format similar to json

In [13]:
employee1 = {'id': 38,'name':"John",'age':28,'position':"Manager"}

In [14]:
print('The name of the employee is {}, who is working as {} at the age of {} with ID = {}'.format(employee1['name'], employee1['position'], employee1['age'], employee1['id']))

The name of the employee is John, who is working as Manager at the age of 28 with ID = 38

In [12]:
# a list can nested inside the dictionary. And the element inside a dictionary can be dictionary itself

In [15]:
employee2 = {'id': 39,'name':"Sam",'age':58,'position':"CEO"}

In [16]:
company = {'name':"HSBC",'employeeList':[employee1, employee2]}

In [17]:
print('Employee {} working as {} in {}'.format(company['employeeList'][0]['name'], company['employeeList'][0]['position'], company['name']))

Employee John working as Manager in HSBC

In [18]:
print('Employee {} working as {} in {}'.format(company['employeeList'][1]['name'], company['employeeList'][1]['position'], company['name']))

Employee Sam working as CEO in HSBC

In [19]:
# boolean

In [20]:
True

True

In [21]:
False

False

In [24]:
# use Tuple using () to create, and use [] to retrieve

In [23]:
value = (company, [employee1, employee2], True)

In [26]:
print('Comany is {}'.format(value[0]['name']))

Comany is HSBC

In [28]:
print('employees are {} and {}'.format(value[1][0]['name'], value[1][1]['name']))

employees are John and Sam

In [30]:
print('Is information correct? {}'.format(value[2]))

Is information correct? True

In [31]:
# add new key to an existing dictionary

In [32]:
employee2['Salary'] = 1000000

In [33]:
print(employee2)

{'id': 39, 'name': 'Sam', 'age': 58, 'position': 'CEO', 'Salary': 1000000}

In [34]:
print(employee1)

{'id': 38, 'name': 'John', 'age': 28, 'position': 'Manager'}

In [35]:
# reassign any value to a dictionary with existing key

In [36]:
employee1['position'] = "Director" # promote John to director

In [37]:
print(employee1)

{'id': 38, 'name': 'John', 'age': 28, 'position': 'Director'}

In [38]:
# However, you can't assign any new value to tuple because it is immutable once it is created

In [39]:
value[2] = False

TypeError: 'tuple' object does not support item assignment

In [41]:
# using set with {} but without ":" to denote the key
# it will reduce the list into non-duplicated set

In [43]:
aSetValues = {3, 8, 5, 3, 9, 9, 8, 8, 5}
print(aSetValues)

{8, 9, 3, 5}

In [44]:
# using "set" function to retreive the unique elements

In [45]:
adupList = [3, 3, 3, 3, 8, 8, 8, 8]
unqL = set(adupList)
print(adupList)
print(unqL)

[3, 3, 3, 3, 8, 8, 8, 8]
{8, 3}

In [46]:
# add element to a set using "add" function (as opposed to using "append" function in a list)

In [47]:
unqL.add(9)

In [48]:
print(unqL)

{8, 9, 3}

In [59]:
# you can't store a dictionary inside a set if it is unhashable

In [58]:
randomSet = {employee1}

TypeError: unhashable type: 'dict'

In [60]:
# Logical Condition

In [61]:
1 > 2

False

In [62]:
1 < 2

True

In [63]:
1 == 2

False

In [64]:
1 != 2

True

In [65]:
# "and", "or"

In [66]:
1 > 2 and 3 > 2

False

In [67]:
2 > 1 and 3 > 2

True

In [68]:
1 > 2 or 3 > 2

True

In [69]:
1 > 2 or 3 < 2

False

In [76]:
# if, elif(i.e.else if) , else

In [71]:
if 2 > 1:
    print("2 is greater than 1")

2 is greater than 1

In [75]:
forecast = "whatever"
result = 0
if forecast == "sunny":
    print("Today is sunny day")
    result = 1
elif forecast == "cloudy":
    print("Today is cloudy")
    result = 2
else:
    print("Today weather is not known!")
    result = 3
print('result = {}'.format(result))

Today weather is not known!
result = 3

In [1]:
# looping, for loop

In [5]:
# loop over a list
anynumList = [2, 5, 1, 2, 5]
total = 0
for eachNum in anynumList:
    print(eachNum)
    total += eachNum
print('Total = {}'.format(total))

2
5
1
2
5
Total = 15

In [6]:
# while loop

In [2]:
i = 0
total = 0
while i < 5:
    print("Loop {}".format(i+1))
    total += i
    i += 1
print("Total = {} ".format(total))

Loop 1
Loop 2
Loop 3
Loop 4
Loop 5
Total = 10

In [7]:
# range function can generate a list from 1 to 4 (not including 5)
rangeObj = range(1, 5)
print(rangeObj)

range(1, 5)

In [5]:
genList = list(rangeObj)
print(genList)

[1, 2, 3, 4]

In [6]:
for curIndex in range(0, 5):
    print(curIndex)

0
1
2
3
4

In [8]:
# list comprehension
# compute each element in the list into a new value in one go

In [13]:
oldList = [1, 2, 3, 4, 5, 6]
powerTwoList = [ eachNum ** 2 for eachNum in oldList]
print(powerTwoList)

[1, 4, 9, 16, 25, 36]